@keyframes spin {
    0% {
        transform: rotate(var(--previousDegrees));
    }

    100% {
        transform: rotate(var(--degrees));
    }
}

.pie {
    --items: 8;
    clip-path: inset(0 0 0 0 round 50%);
    aspect-ratio: 1 / 1;
    background: crimson;
    container-type: inline-size;
    display: grid;
    place-content: center start;

    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.440, -0.205, 0.000, 1.130);
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: normal;
    transform: rotate(var(--degrees, 0));

    &.spinning {
        animation-name: spin;
    }
}

.pointer {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    transform: rotate(25deg) translate(-7px, -15px); // TODO: fix position
    z-index: 10;
}

@for $i from 1 through 8 {
    .slice:nth-child(#{$i}) {
        --id: #{$i};
    }
}

.slice {
    rotate: calc(360deg / var(--items) * calc(var(--id) - 1));
    align-content: center;
    background: deepskyblue;
    display: grid;
    font-size: 5cqi;
    grid-area: 1 / -1;
    transform-origin: center right;
    width: 50cqi;
    height: calc((2 * pi * 50cqi) / var(--items));
    clip-path: polygon(0% -2%, 100% 50%, 0% 102%);
}